html {
    background-color: #ffffff;
    box-sizing: border-box;
  }
body {
    max-width: 1260px;
    background: #ffe59d;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
}
.centerbox{
    background-color: #fff7d4;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border-radius: 8px;
    
} 

.maintext{
    font-family: "華康中圓體";
    color: #944518;
    font-size: 32px;
    /*margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-items: center;
    max-width: 550px;*/
}
#ok{
    font-family: "華康中圓體";
    color: #944518;
    font-size: 20px;
}  

footer{
    width: 1260px;
    background: #bbad87;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    position: fixed;
    bottom: 0px;
}
.footer-text{
    text-align: center;
    font-family: "華康中圓體";
    color: #944518;
    font-size: 24px;
}
#address{
    font-size: 18px;

}

.submitbox{
    margin-left: 0px;
    font-family: "華康中圓體";
    color: #944518;
    font-size: 24px;
    border-radius: 8px;
}
input{
    
    padding: 7px 15px;
    text-align: center;
    font-family: "華康中圓體";
    color: #944518;
    font-size: 20px;
    border-radius: 8px;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }
li{list-style:none}